#circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.dashed {
  list-style-type: none;
}
.dashed > li::before {
  content: "-";
}

footer {
  margin-top: auto;
}

#lmbutton {
  width: 400px;
}

.one {
  position: relative;
  text-align: center;
  color: black;
}

.dollar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: Sans-Serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-pad {
  border: 1px solid black;
  padding: 25px;
  justify-content: center;
}

.container-focus {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.focus {
  grid-area: 1 / 1 / 2 / 3;
}

.icons {
  grid-area: 1 / 2 / 2 / 3;
}

#muted {
  color: grey;
}

.small {
  font-size: 14px;
}

.container-solutions {
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "email-dashboards task-mgmt"
    "analytics project-calendars";
}

.text {
  grid-area: text;
}

.email-dashboards {
  grid-area: email-dashboards;
  padding: 25px;
}

.task-mgmt {
  grid-area: task-mgmt;
  padding: 25px;
}

.analytics {
  grid-area: analytics;
  padding: 25px;
}

.project-calendars {
  grid-area: project-calendars;
  padding: 25px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: rgb(8, 44, 245);
  border-radius: 50%;
  display: inline-block;
}

.circle {
  height: 130px;
  width: 130px;
  background-color: rgb(207, 211, 232);
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

#sooner {
  max-width: 300px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.containerr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". one two ."
    ". three four .";
}

.ones {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}
